apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ service_namespace }}
  labels:
    {{ service_labels | to_nice_yaml(indent=4) }}
  annotations:
{% if metallb_address_pool %}
    metallb.io/address-pool: "{{ metallb_address_pool }}"
{% endif %}
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
{% if load_balancer_ip %}
  loadBalancerIP: {{ load_balancer_ip }}
{% endif %}
{% if source_ranges %}
  loadBalancerSourceRanges:
{% for cidr in source_ranges %}
    - "{{ cidr }}"
{% endfor %}
{% endif %}
  selector:
    {{ selector_labels | to_nice_yaml(indent=4) }}
  ports:
  - protocol: TCP
    port: {{ port }}
    targetPort: {{ target_port }}
