#cloud-config
users:
  - name: {{ cloud_init.user }}
    {% if cloud_init.password %}
    passwd: {{ cloud_init.password | password_hash('sha512') }}
    {% endif %}
    lock_passwd: false
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      {% for key in cloud_init.ssh_keys %}
      - {{ key }}
      {% endfor %}

package_update: true
package_upgrade: true

packages:
  {% for pkg in cloud_init.packages %}
  - {{ pkg }}
  {% endfor %}

runcmd:
  {% for cmd in cloud_init.runcmd %}
  - [sh, -c, "{{ cmd }}"]
  {% endfor %}

write_files:
  {% for file in cloud_init.write_files %}
  - path: {{ file.path }}
    content: |
      {{ file.content | indent(6) }}
    permissions: '0644'
  {% endfor %}
