<domain type='kvm'>
  <name>{{ vm.name }}</name>
  <memory unit='KiB'>{{ vm.ram * 1024 }}</memory>
  <vcpu placement='static'>{{ vm.cpu }}</vcpu>
  <os>
    <type arch='x86_64' machine='pc-q35-6.2'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode='custom' match='exact'>
    <model>qemu64</model>
  </cpu>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>
  <devices>
    <!-- Disques -->
    {% for disk in vm.cloud_init.disks %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ disk.path }}'/>
      <target dev='v{{ loop.index0 | string }}' bus='virtio'/>
    </disk>
    {% endfor %}
    <!-- Interfaces réseau -->
    {% for net in vm.networks %}
    <interface type='network'>
      <source network='{{ net.name }}'/>
      <model type='virtio'/>
      {% if net.get('mac') %}
      <mac address='{{ net.mac }}'/>
      {% endif %}
      {% if net.get('ip') %}
      <ip address='{{ net.ip }}'/>
      {% endif %}
    </interface>
    {% endfor %}
    <!-- Console série -->
    <serial type='pty'>
      <target type='isa-serial' port='0'>
        <model name='isa-serial'/>
      </target>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
  </devices>
</domain>
