[defaults]
inventory = inventory
remote_user = ubuntu
roles_path = /home/ubuntu/github/AVR25_Rakuten_MLOps/ansible/roles
private_key_file = ssh/keys/id_rsa
host_key_checking = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s


